@using Microsoft.AspNetCore.Mvc.Localization
@model AdminGroupInputModel
@inject IViewLocalizer Localizer
@{
    
}                                                       

<div class="container">
    <h1 class="mt-4">
        @Localizer["Title"]
    </h1>
    <hr class="header">

    <form asp-controller="AdminGroups" asp-action="CreateGroup" method="post">
    
        <partial name="InputForm.cshtml" model="Model" />

        <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
        <a asp-controller="AdminGroups" asp-action="RenderGroupList" role="button" class="btn btn-outline-secondary">@Localizer["Form:Cancel"]</a>
    </form>
</div>