@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminLabInputModel
@inject IViewLocalizer Localizer
@{
     
}

<div class="container">
    <h1 class="header">
        @Localizer["Title"]
    </h1>
    <hr class="header">

    <form asp-controller="AdminLabs" asp-action="EditLab" method="post">
    
        <partial name="InputForm.cshtml" model="Model" />

        <input type="hidden" asp-for="Id">

        <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
        <a asp-controller="AdminLabs" asp-action="RenderLabList" role="button" class="btn btn-outline-secondary">@Localizer["Form:Cancel"]</a>
    </form>
</div>