/* Bootstrap theming */

$blue: #003e80 !default;


/* Override heading sizes */

$font-size-base: 1rem; // This is the default
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;


/* Load bootstrap */

@import "../node_modules/bootstrap/scss/bootstrap";


/* General */

html {
  position: relative;
}

body {
  min-height: 100vh;
}

footer {
  a.link-footer {
    //color: white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      //  color: shade-color(white, $link-shade-percentage);
    }
  }
}

// HACK: Fix line height in badges with icons
.badge {
  &.badge-icon {
    line-height: 1.5;
  }
}


/* Navigation */

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}


/* Headlines */

h1.header {
  margin-top: 2*$spacer;
  color: $primary;
}

h2.header {
  margin-top: 2*$spacer;
  color: $primary;
}

h2.subheader {
  margin-top: 1.0*$spacer;
  color: $primary;
}

hr.header {
  opacity: 1;
  height: 2px;
  color: $primary;
}

hr.header-secondary {
  height: 1px;
}


/* Icons */

// Add default margin to separate icons from text
// In the rare cases of icon-only buttons, offer a class for overriding this behavior
.bi {
  margin-right: .25rem;
  
  &-nomargin {
    margin-right: 0 !important;
  }
}

// Hack: Change vertical alignment for bi-* classes in buttons, so icons are centered
.btn .bi::before {
  vertical-align: middle !important;
}


/* Cursor */

.cursor-link {
  cursor: pointer;
}


/* Collapse button on exercise cards */

.exercise-card-heading {
  display: flex;
  align-items: center;

  &:not(.collapsed) {
    &::after {
      background-image: escape-svg($accordion-button-active-icon);
      transform: $accordion-icon-transform;
    }
  }

  // Accordion icon
  &::after {
    flex-shrink: 0;
    width: $accordion-icon-width;
    height: $accordion-icon-width;
    margin-left: auto;
    content: "";
    background-image: escape-svg($accordion-button-icon);
    background-repeat: no-repeat;
    background-size: $accordion-icon-width;
    @include transition($accordion-icon-transition);
  }
}