@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminUsersController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AdminUsersController.ViewType.List)
    {
        <partial name="AdminUsers.List.cshtml" />
    }
    else if(viewType == AdminUsersController.ViewType.Edit)
    {
        <partial name="AdminUsers.Edit.cshtml" />
    }
</div>