@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminSlotsController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AdminSlotsController.ViewType.List)
    {
        <partial name="AdminSlots.List.cshtml" />
    }
    else if(viewType == AdminSlotsController.ViewType.Edit)
    {
        <partial name="AdminSlots.Edit.cshtml" />
    }
    else if(viewType == AdminSlotsController.ViewType.Create)
    {
        <partial name="AdminSlots.Create.cshtml" />
    }
</div>