@model Ctf4e.Server.ViewModels.AdminScoreboard

<h3 class="header">
    Flags (alle Terminslots)
</h3>
<hr class="header">

<table class="table table-sm" id="flags-table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Funde</th>
        <th scope="col">Punkte</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var flag in Model.Flags)
    {
        <tr>
            <th scope="row">#@flag.Flag.Id</th>
            <td>
                @flag.Flag.Description
                @if(flag.Flag.IsBounty)
                {
                    <i class="bi bi-bug-fill text-primary" title="Bug-Bounty"></i>
                }
            </td>
            <td>
                @flag.SubmissionCount
            </td>
            <td>
                @flag.CurrentPoints / @flag.Flag.BasePoints
            </td>
        </tr>
    }
    </tbody>
</table>