@model Ctf4e.Server.Models.Flag

<h3 class="header">
    Flag bearbeiten
</h3>
<hr class="header">

<form asp-controller="AdminFlags" asp-action="EditFlag" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Code">Flag-Code</label>
        <input asp-for="Code" class="form-control">
        <span asp-validation-for="Code" class="text-danger"></span>
        <small class="form-text text-muted">
            Flags müssen immer dem Format &quot;CTF{&lt;flag code&gt;}&quot; entsprechen, wenn die Gruppen diese selbst einlösen können sollen.
        </small>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description">Beschreibung</label>
        <input asp-for="Description" class="form-control" placeholder="Namen eingeben">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="BasePoints">Basispunktzahl</label>
        <input asp-for="BasePoints" class="form-control">
        <span asp-validation-for="BasePoints" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="IsBounty" class="form-check-input">
            <label asp-for="IsBounty" class="form-check-label">Bug-Bounty?</label>
            <small class="form-text text-muted">
                Bug-Bounty-Flags werden nicht skaliert, sondern ergeben unabhängig von der Anzahl der Einlösungen immer dieselbe Punktzahl.
            </small>
        </div>
    </div>

    <input asp-for="LabId" type="hidden">
    <input asp-for="Id" type="hidden">

    <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    <a asp-controller="AdminFlags" asp-action="RenderFlagList" asp-route-labId="@Model.LabId" class="btn btn-secondary">Abbrechen</a>
</form>