@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminLabExecutionsController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AdminLabExecutionsController.ViewType.List)
    {
        <partial name="AdminLabExecutions.List.cshtml" />
    }
    else if(viewType == AdminLabExecutionsController.ViewType.Edit)
    {
        <partial name="AdminLabExecutions.Edit.cshtml" />
    }
    else if(viewType == AdminLabExecutionsController.ViewType.CreateForGroup)
    {
        <partial name="AdminLabExecutions.CreateForGroup.cshtml" />
    }
    else if(viewType == AdminLabExecutionsController.ViewType.CreateForSlot)
    {
        <partial name="AdminLabExecutions.CreateForSlot.cshtml" />
    }
</div>

@section ScriptsHead
{
    <link asp-href-include="~/lib/flatpickr/css/flatpickr.min.css" asp-append-version="true" rel="stylesheet" />
    <script asp-src-include="~/lib/flatpickr/js/flatpickr.min.js" asp-append-version="true"></script>
    <script asp-src-include="~/lib/flatpickr/js/l10n/de.js" asp-append-version="true"></script>
}