@model Ctf4e.Server.Models.Slot

<h3 class="header">
    Slot erstellen
</h3>
<hr class="header">

<form asp-controller="AdminSlots" asp-action="CreateSlot" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Namen eingeben">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Slot erstellen</button>
    <a asp-controller="AdminSlots" asp-action="RenderSlotList" class="btn btn-secondary">Abbrechen</a>
</form>