@model Ctf4e.Server.ViewModels.AdminLabExecution
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h3 class="header">
    @Localizer["Title"]
</h3>
<hr class="header">

<form asp-controller="AdminLabExecutions" asp-action="EditLabExecution" method="post">
    <partial name="AdminLabExecutions._Form.cshtml" />
    
    <input asp-for="LabExecution.GroupId" type="hidden">
    <input asp-for="LabExecution.LabId" type="hidden">

    <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
    <a asp-controller="AdminLabExecutions" asp-action="RenderLabExecutionList" class="btn btn-secondary">@Localizer["Form:Cancel"]</a>
</form>