@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminExercisesController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AdminExercisesController.ViewType.List)
    {
        <partial name="AdminExercises.List.cshtml" />
    }
    else if(viewType == AdminExercisesController.ViewType.Edit)
    {
        <partial name="AdminExercises.Edit.cshtml" />
    }
    else if(viewType == AdminExercisesController.ViewType.Create)
    {
        <partial name="AdminExercises.Create.cshtml" />
    }
</div>