@model Ctf4e.Server.ViewModels.AdminLabExecution
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

<h1 class="header">
    @_localizer["Title"]
</h1>
<hr class="header">

<form asp-controller="AdminLabExecutions" asp-action="EditLabExecution" method="post">
    <partial name="AdminLabExecutions._Form.cshtml" />
    
    <input asp-for="LabExecution.GroupId" type="hidden">
    <input asp-for="LabExecution.LabId" type="hidden">

    <button type="submit" class="btn btn-primary">@_localizer["Form:Submit"]</button>
    <a asp-controller="AdminLabExecutions" asp-action="RenderLabExecutionList" class="btn btn-secondary">@_localizer["Form:Cancel"]</a>
</form>