@using Ctf4e.Server.Models
@model Ctf4e.Server.ViewModels.AdminLabExecution
@{
    var groups = (List<Group>)ViewData["Groups"];
    var labs = (List<Lab>)ViewData["Labs"];
}

<h3 class="header">
    Praktikum für eine Gruppe starten
</h3>
<hr class="header">

<form asp-controller="AdminLabExecutions" asp-action="CreateLabExecutionForGroup" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="LabExecution.LabId">Praktikum</label>
        <select asp-for="LabExecution.LabId" asp-items="@(new SelectList(labs, nameof(Lab.Id), nameof(Lab.Name)))" class="form-control">
            <option value="" disabled selected>Praktikum auswählen</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LabExecution.GroupId">Gruppe</label>
        <select asp-for="LabExecution.GroupId" asp-items="@(new SelectList(groups, nameof(Group.Id), nameof(Group.DisplayName)))" class="form-control">
            <option value="" disabled selected>Gruppe auswählen</option>
        </select>
    </div>

    <partial name="AdminLabExecutions._Form.cshtml" />

    <div class="mb-3">
        <div class="form-check">
            <input asp-for="OverrideExisting" class="form-check-input" checked>
            <label asp-for="OverrideExisting" class="form-check-label">Existierende Konfiguration überschreiben</label>
            <small>
                Dies überschreibt eine eventuell bereits existierende Praktikumsausführung der Gruppe.
            </small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Praktikum starten</button>
</form>