@using Ctf4e.Server.Models
@using Ctf4e.Server.ViewModels
@model AdminScoreboard
@{
    ViewData["Title"] = "Admin-Scoreboard";

    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="container">
    <div class="float-end">
        <a class="btn btn-sm btn-outline-primary" href="#flags-table">
            <i class="bi bi-chevron-down"></i>
            Flags
        </a>
    </div>

    <h3 class="header">
        Admin-Scoreboard
    </h3>
    <hr class="header">

    <form asp-controller="AdminScoreboard" asp-action="RenderScoreboard" method="get">
        <div class="mb-3">
            <label class="form-label" for="input-lab-id">Praktikum</label>
            <select id="input-lab-id" name="labId" asp-items="@(new SelectList(Model.Labs, nameof(Lab.Id), nameof(Lab.Name), Model.LabId))" class="form-control">
                <option value="" disabled selected>Praktikum auswählen</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="input-slot-id">Terminslot</label>
            <select id="input-slot-id" name="slotId" asp-items="@(new SelectList(Model.Slots, nameof(Slot.Id), nameof(Slot.Name), Model.SlotId))" class="form-control">
                <option value="" disabled selected>Slot auswählen</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Scoreboard anzeigen</button>
    </form>

    <hr class="header-secondary">

    <partial name="AdminScoreboard.Users.cshtml" />
    <partial name="AdminScoreboard.Flags.cshtml" />

    @if(currentUser.IsAdmin)
    {
        <partial name="AdminScoreboard.Sync.cshtml" />    }
</div>

<!-- Necessary includes -->

@section ScriptsHead
{
    <link href="~/lib/flatpickr/css/flatpickr.min.css" rel="stylesheet" />
    <script src="~/lib/flatpickr/js/flatpickr.min.js"></script>
    <script src="~/lib/flatpickr/js/l10n/de.js"></script>
}