<h3 class="header mt-5">
    Export / Synchronisation
</h3>
<hr class="header">

<a class="btn btn-primary mb-2" asp-controller="AdminScoreboard" asp-action="DownloadAsCsv">
    <i class="bi bi-data-transfer-download"></i>
    Ergebnisse als CSV herunterladen
</a>

<button class="btn btn-warning mb-2" href="#" data-bs-toggle="modal" data-bs-target="#modal-sync-moodle">
    <i class="bi bi-transfer"></i>
    Ergebnisse in Moodlekurs hochladen
</button>

<div class="modal fade" id="modal-sync-moodle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ergebnisse in Moodlekurs hochladen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Dieses Kommando lädt die kompletten Kursergebnisse über die API in den angebundenen Moodlekurs hoch.
                </p>
                <p>
                    <strong>Achtung:</strong> Dieser Vorgang dauert einige Zeit, und sollte nicht unterbrochen werden.
                </p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-controller="AdminScoreboard" asp-action="UploadToMoodle">
                    <button type="submit" class="btn btn-outline-warning">Ergebnisse hochladen</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>