@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminGroupsController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AdminGroupsController.ViewType.List)
    {
        <partial name="AdminGroups.List.cshtml" />
    }
    else if(viewType == AdminGroupsController.ViewType.Edit)
    {
        <partial name="AdminGroups.Edit.cshtml" />
    }
    else if(viewType == AdminGroupsController.ViewType.Create)
    {
        <partial name="AdminGroups.Create.cshtml" />
    }
</div>