@using Ctf4e.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AdminFlagsController.ViewType)ViewData["ViewType"];
    
}

<div class="container">
    @if(viewType == AdminFlagsController.ViewType.List)
    {
        <partial name="AdminFlags.List.cshtml" />
    }
    else if(viewType == AdminFlagsController.ViewType.Edit)
    {
        <partial name="AdminFlags.Edit.cshtml" />
    }
    else if(viewType == AdminFlagsController.ViewType.Create)
    {
        <partial name="AdminFlags.Create.cshtml" />
    }
</div>