@using Ctf4e.Server.Controllers
@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Authorization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["HtmlTitle"];

    var viewType = (AuthenticationController.ViewType)ViewData["ViewType"];

    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="container">
    @if(viewType == AuthenticationController.ViewType.Blank)
    {
        // Status messages only

        // In development mode, show admin login
        <environment include="Development">
            <partial name="Authentication.DevLogin.cshtml" />
        </environment>
    }
    else if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.Privileges.HasPrivileges(UserPrivileges.ViewAdminScoreboard))
        {
            <a asp-controller="AdminScoreboard" asp-action="RenderScoreboard">@_localizer["Redirecting"]</a>
        }
        else
        {
            <a asp-controller="UserDashboard" asp-action="RenderLabPage">@_localizer["Redirecting"]</a>
        }
    }
    else if(viewType == AuthenticationController.ViewType.GroupSelection)
    {
        <partial name="Authentication.GroupSelection.cshtml" />
    }
</div>

@section ScriptsHead
{
    @if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.Privileges.HasPrivileges(UserPrivileges.ViewAdminScoreboard))
        {
            <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderScoreboard", "AdminScoreboard"))">
        }
        else
        {
            <meta http-equiv="refresh" content="1;url=@Url.Action("RenderLabPage", "UserDashboard")">
        }
    }
}