@using Ctf4e.Server.Controllers
@using Ctf4e.Server.Models
@using Ctf4e.Server.Services
@{
    ViewData["Title"] = "Login";

    var viewType = (AuthenticationController.ViewType)ViewData["ViewType"];

    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="container">
    @if(viewType == AuthenticationController.ViewType.Blank)
    {
        <!-- Status messages only -->
    }
    else if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.IsAdmin)
        {
            <a asp-controller="AdminScoreboard" asp-action="RenderScoreboard">Weiterleiten...</a>
        }
        else
        {
            <a asp-controller="UserDashboard" asp-action="RenderLessonPage">Weiterleiten...</a>
        }
    }
    else if(viewType == AuthenticationController.ViewType.GroupSelection)
    {
        <partial name="Authentication.GroupSelection.cshtml" />
    }
</div>

@section ScriptsHead
{
    @if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.IsAdmin)
        {
            <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderScoreboard", "AdminScoreboard"))">
        }
        else
        {
            <meta http-equiv="refresh" content="1;url=@Url.Action("RenderLessonPage", "UserDashboard")">
        }
    }
}