@using Ctf4e.Server.Controllers
@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Authorization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["HtmlTitle"];

    var viewType = (AuthenticationController.ViewType)ViewData["ViewType"];

    var currentUser = (User)ViewData["CurrentUser"];
}

@if(viewType == AuthenticationController.ViewType.Redirect)
{
    if(currentUser.Privileges.HasPrivileges(UserPrivileges.ViewAdminScoreboard))
    {
        <div class="container">
            <a asp-controller="AdminScoreboard" asp-action="RenderScoreboard">@_localizer["Redirecting"]</a>
        </div>
    }
    else
    {
        <div class="container">
            <a asp-controller="UserDashboard" asp-action="RenderLabPage">@_localizer["Redirecting"]</a>
        </div>
    }
}
else if(viewType == AuthenticationController.ViewType.Login)
{
    <partial name="Authentication.Login.cshtml" />
}
else if(viewType == AuthenticationController.ViewType.GroupSelection)
{
    ViewData["Title"] = _localizer["HtmlTitle:GroupSelection"];

    <div class="container">
        <partial name="Authentication.GroupSelection.cshtml" />
    </div>
}
else if(viewType == AuthenticationController.ViewType.Settings)
{
    ViewData["Title"] = _localizer["HtmlTitle:Settings"];

    <div class="container">
        <partial name="Authentication.Settings.cshtml" />
    </div>
}

@section ScriptsHead
{
    @if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.Privileges.HasPrivileges(UserPrivileges.ViewAdminScoreboard))
        {
            <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderScoreboard", "AdminScoreboard"))">
        }
        else
        {
            <meta http-equiv="refresh" content="1;url=@Url.Action("RenderLabPage", "UserDashboard")">
        }
    }
}