@using Ctf4e.Server.Controllers
@using Ctf4e.Server.Models
@{
    ViewData["Title"] = "Login";

    var viewType = (AuthenticationController.ViewType)ViewData["ViewType"];

    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="container">
    @if(viewType == AuthenticationController.ViewType.Blank)
    {
        <!-- Status messages only -->
    }
    else if(viewType == AuthenticationController.ViewType.Redirect)
    {
        if(currentUser.IsAdmin)
        {
            <a asp-controller="AdminScoreboard" asp-action="RenderScoreboard">Weiterleiten...</a>
@section ScriptsHead
{
    <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderScoreboard", "AdminScoreboard"))">
}        }
        else
        {
            <a asp-controller="Group" asp-action="RenderLabPage">Weiterleiten...</a>
@section ScriptsHead
{
    <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderLabPage", "Group"))">
}        }
    }
    else if(viewType == AuthenticationController.ViewType.GroupSelection)
    {
        var slots = (List<Slot>)ViewData["Slots"];

        <h3 class="header">
            Gruppe gründen
        </h3>
        <hr class="header">
        <p>
            An diesem Praktikum kann nur in Zweiergruppen teilgenommen werden. Bitte bearbeiten Sie hierzu nacheinander folgende Schritte:
            <ul>
                <li>Suchen Sie sich einen Gruppenpartner/eine Gruppenpartnerin, der/die am selben Praktikumstermin teilnimmt.</li>
                <li>Überlegen Sie sich einen Gruppennamen, und ob Sie am Capture-The-Flag-Wettbewerb (CTF) teilnehmen möchten.</li>
                <li>Tauschen Sie mit Ihrem Partner/Ihrer Partnerin die beim Login angezeigten Codes aus.</li>
                <li>Füllen Sie das untenstehende Formular aus, um die Gruppe zu erstellen. Es genügt, wenn eine(r) von Ihnen diesen Schritt bearbeitet.</li>
            </ul>
            Ihr Code lautet: <span class="font-weight-bold">@currentUser.GroupFindingCode</span>
        </p>
        @model Ctf4e.Server.ViewModels.GroupSelection
    
    <form asp-controller="Authentication" asp-action="HandleGroupSelection" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="OtherUserCodes">Codes Ihrer Gruppenpartner/Gruppenpartnerinnen</label>
                <textarea asp-for="OtherUserCodes" class="form-control" placeholder="Codes eingeben" rows="4" cols="40"></textarea>
                <small class="form-text text-muted">
                    Ein Code pro Zeile.
                </small>
                <span asp-validation-for="OtherUserCodes" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="SlotId">Praktikumstermin</label>
                <select asp-for="SlotId" asp-items="@(new SelectList(slots, nameof(Slot.Id), nameof(Slot.Name)))" class="form-control"></select>
                <small class="form-text text-muted">
                    Der Wert dieses Felds <span class="font-italic">muss</span> mit dem Ihnen während der Terminwahl zugewiesenen Termin übereinstimmen.
                </small>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="DisplayName">Name Ihrer Gruppe</label>
                <input asp-for="DisplayName" class="form-control" placeholder="Gruppennamen eingeben">
                <small class="form-text text-muted">
                    Dieses Feld hat volle Unicode-Unterstützung, Ihrer Kreativität sind abgesehen von der Längenbeschränkung
                    also keine Grenzen gesetzt. Der Gruppenname kann anschließend nicht mehr geändert werden.
                </small>
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input asp-for="ShowInScoreboard" class="form-check-input">
                    <label asp-for="ShowInScoreboard" class="form-check-label">Am CTF teilnehmen und Gruppe im Scoreboard anzeigen</label>
                    <small class="form-text text-muted">
                        Mit Setzen dieses Feldes nehmen Sie am Praktikums-internen Capture-The-Flag teil, und Ihr Gruppenname wird im Scoreboard angezeigt.
                        Die Teilnahme am CTF ist komplett freiwillig und hat keinerlei Nachteile. Das Scoreboard zeigt stets nur die oberen Plätze an.
                    </small>
                </div>
            </div>
            <p>
                Alles ausgefüllt? Super! Bitte überprüfen Sie sicherheitshalber nochmal alle Angaben.
                Nach erfolgreichem Erstellen der Gruppe werden Sie automatisch ausgeloggt und müssen sich einmal erneut einloggen.
                Im Anschluss haben Sie Zugriff auf den Arbeitsbereich Ihrer Gruppe.
            </p>

            <button type="submit" class="btn btn-primary">Gruppe erstellen</button>
        </form>
    }
</div>