@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminExerciseInputModel
@inject IViewLocalizer Localizer
@{
     
}

<div class="container">
    <h1 class="header">
        @Localizer["Title"]
    </h1>
    <hr class="header">

    <form asp-controller="AdminExercises" asp-action="EditExercise" method="post">
    
        <partial name="InputForm.cshtml" model="Model" />

        <input type="hidden" asp-for="Id">

        <button type="submit" class="btn btn-primary">Save changes</button>
        <a asp-controller="AdminExercises" asp-action="RenderExerciseList" role="button" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>