@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AdminLabExecutionInputModel
@{
    ViewData["Title"] = Localizer["HtmlTitle"];
}

<div class="container">
    <h1 class="mt-4">
        @Localizer["Title"]
    </h1>
    <hr class="header">

    <form asp-controller="AdminLabExecutions" asp-action="CreateLabExecution" method="post">

        <partial name="InputForm.cshtml" model="Model" />

        <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
        <a asp-controller="AdminLabExecutions" asp-action="RenderLabExecutionList" class="btn btn-secondary">@Localizer["Form:Cancel"]</a>
    </form>
</div>

@section ScriptsHead
{
    <link asp-href-include="~/lib/flatpickr/css/flatpickr.min.css" asp-append-version="true" rel="stylesheet" />
    <script asp-src-include="~/lib/flatpickr/js/flatpickr.min.js" asp-append-version="true"></script>
    <script asp-src-include="~/lib/flatpickr/js/l10n/de.js" asp-append-version="true"></script>
}