/* Bootstrap theming */

$blue: #003e80 !default;

/* Load bootstrap */

@import "../node_modules/bootstrap/scss/bootstrap";


/* General */

html {
  position: relative;
}

body {
  min-height: 100vh;
}

footer {
  a.link-footer {
    //color: white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    //  color: shade-color(white, $link-shade-percentage);
    }
  }
}

// HACK: Fix line height in badges with icons
.badge {
  &.badge-icon {
    line-height: 1.5;
  }
}


/* Navigation */

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}


/* Headlines */

h3.header {
  color: $blue;
  margin-top: 2*$spacer;
}

h5.header {
  color: $blue;
  margin-top: 2*$spacer;
}

hr.header {
  color: $blue;
  opacity: 1;
  height: 2px;
}

hr.header-secondary {
  color: $blue;
  height: 1px;
}


/* Icons */

.bi {
  margin-right: .25rem;
}

.bi::before {
  // Hack: Reset weird line height override in bi-* classes, so icons are centered
  line-height: 1.5 !important;
  vertical-align: middle !important;
}