/* Bootstrap theming */

$blue: #003e80 !default;

$color-deleted: #ffeef0;
$color-new: #e6ffed;


/* Override heading sizes */

$font-size-base: 1rem; // This is the default
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;


/* Load bootstrap */

@import "../node_modules/bootstrap/scss/bootstrap";


/* General */

html {
  position: relative;
}

body {
  min-height: 100vh;
}

footer {
  a.link-footer {
    //color: white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      //  color: shade-color(white, $link-shade-percentage);
    }
  }
}

// HACK: Fix line height in badges with icons
.badge {
  &.badge-icon {
    line-height: 1.5;
  }
}


/* Navigation */

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}


/* Headlines */

h1 {
  color: $primary;
}

h2 {
  color: $primary;
}

h2.header {
  margin-top: 2*$spacer;
  color: $primary;
}

hr.header {
  opacity: 1;
  height: 2px;
  background-color: $primary;
  margin-top: 0.5*$spacer;
}

hr.header-secondary {
  height: 1px;
  margin-top: 0.25*$spacer;
}


/* Icons */

.bi {
  margin-right: .25rem;
}

// Hack: Change vertical alignment for bi-* classes in buttons, so icons are centered
.btn .bi::before {
  vertical-align: middle !important;
}


/* Cursor */

.cursor-default {
  cursor: default;
}

.cursor-link {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}


/* Special row backgrounds */

tr.row-muted {
  td, th {
    opacity: 0.5;
  }
}

tr.row-muted:hover {
  td, th {
    opacity: 1;
  }
}

tr.row-highlighted {
  td, th {
    background-color: $gray-100;
  }
}

tr.row-deleted {
  td, th {
    background: $color-deleted;
  }
}

tr.row-added {
  td, th {
    background: $color-new;
  }
}


/* Vertical align for entire table */

table.table-align-middle th {
  vertical-align: middle;
}

table.table-align-middle td {
  vertical-align: middle;
}


/* Sticky table headers */

tr.row-sticky th {
  position: sticky;
  top: 0;
  z-index: 10; /* Make sure other table elements are drawn below this */
  background: $gray-100;
  background-clip: padding-box; /* Do not override border */
}

@include color-mode(dark) {
  tr.row-sticky th {
    background: $gray-800;
  }
}


/* Login form */

.login-form {
  max-width: 400px;
}


/* Icon on collapsible cards */

.collapsible-card-heading {
  display: flex;
  align-items: center;

  &:not(.collapsed) {
    &::after {
      background-image: escape-svg($accordion-button-active-icon);
      transform: $accordion-icon-transform;
    }
  }

  // Accordion icon
  &::after {
    flex-shrink: 0;
    width: $accordion-icon-width;
    height: $accordion-icon-width;
    margin-left: auto;
    content: "";
    background-image: escape-svg($accordion-button-icon);
    background-repeat: no-repeat;
    background-size: $accordion-icon-width;
    @include transition($accordion-icon-transition);
  }
}
