@{
    ViewData["Title"] = "Konfiguration bearbeiten";

    string configuration = ViewData.ContainsKey("Configuration") ? (string)ViewData["Configuration"] : null;
    bool writable = ViewData.ContainsKey("Writable") && (bool)ViewData["Writable"];
}

<div class="container">
    @if(configuration != null)
    {
        <h3 class="header">
            Konfiguration bearbeiten
        </h3>
        <hr class="header">

        <p class="text-danger font-weight-bold">
            ACHTUNG: Das Verändern der Konfiguration nach Freischaltung des Praktikums kann unter Umständen zu Fehlern und Datenverlust führen.
            Es wird dringend empfohlen, vorher ein Backup der alten Konfiguration und der Benutzerdateien zu erstellen.
        </p>

        <form method="post" asp-controller="AdminConfiguration" asp-action="UpdateConfiguration">
            <div class="mb-3">
                <textarea name="configuration" class="form-control font-monospace" rows="40" cols="100">@configuration</textarea>
            </div>

            @if(writable)
            {
                <button type="submit" class="btn btn-outline-danger">
                    Änderungen speichern
                </button>
            }
        </form>
    }
</div>