@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["HtmlTitle"];

    string configuration = ViewData.ContainsKey("Configuration") ? (string)ViewData["Configuration"] : null;
    bool writable = ViewData.ContainsKey("Writable") && (bool)ViewData["Writable"];
}

<div class="container">
    @if(configuration != null)
    {
        <h1 class="header">
            @_localizer["Title"]
        </h1>
        <hr class="header">

        <p class="text-danger font-weight-bold">
            @_localizer["WarningText"]
        </p>

        <form method="post" asp-controller="AdminConfiguration" asp-action="UpdateConfiguration">
            <div class="mb-3">
                <textarea name="configuration" class="form-control font-monospace" rows="40" cols="100">@configuration</textarea>
            </div>

            @if(writable)
            {
                <button type="submit" class="btn btn-outline-danger">
                    @_localizer["Form:Submit"]
                </button>
            }
        </form>
    }
</div>