@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];

    var viewType = (AuthenticationController.ViewType)ViewData["ViewType"];
}

<div class="container">
    @if(viewType == AuthenticationController.ViewType.Blank)
    {
        <!-- Status messages only -->
    }
    else if(viewType == AuthenticationController.ViewType.Redirect)
    {
        <a asp-controller="Group" asp-action="RenderPage">@Localizer["Redirecting"]</a>
    }
</div>

@section ScriptsHead
{
    @if(viewType == AuthenticationController.ViewType.Redirect)
    {
        <meta http-equiv="refresh" content="1;url=@(Url.Action("RenderPage", "Group"))">
    }
}