@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminSlotInputModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["HtmlTitle"];
}

<div class="container">
    <h1 class="header">
        @Localizer["Title"]
    </h1>
    <hr class="header">

    <form asp-controller="AdminSlots" asp-action="EditSlot" method="post">
    
        <partial name="InputForm.cshtml" model="Model" />

        <input type="hidden" asp-for="Id">

        <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
        <a asp-controller="AdminSlots" asp-action="RenderSlotList" role="button" class="btn btn-outline-secondary">@Localizer["Form:Cancel"]</a>
    </form>
</div>

@section ScriptsHead
{
    <link asp-href-include="~/lib/flatpickr/css/flatpickr.min.css" asp-append-version="true" rel="stylesheet" />
    <script asp-src-include="~/lib/flatpickr/js/flatpickr.min.js" asp-append-version="true"></script>
    <script asp-src-include="~/lib/flatpickr/js/l10n/de.js" asp-append-version="true"></script>
}